@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*  resetp */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

button {
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    border: none;
}

/* app */

.app__author{
    color: gray;
}


.app{
    min-height: 100vh;
    background-position: center;
    background-repeat:no-repeat ;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.app__container {
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.app__titles{
    margin-top: 80px; 
    font-weight: 800;
    width: 300px;
    
    font-size: 2.8rem;
    text-shadow: -3px -3px orange,
                  3px 3px orange,
                  -3px 3px orange,
                  3px -3px orange ;  
}
.app__btn{
   background-color: orange;
   padding: 10px 20px;
   border: 2px solid;
   color: brown;
   border-radius: 10px;
   font-weight: 900;
   font-family: "Roboto", sans-serif;
   transition: transform .5s;
   
}

.app__btn:hover {
    transform: scale(1.5);
    transition: transform .5s;
}

.app__text {
    background-color: #5555559f;
    border-radius: 10px;
    padding: 70px;
    margin-left: 20px;
    width: 90%;
    color: black;
    height: 100px;
}


.app__author{
    background-color: #ffffffb9;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 8px;
}


